<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.sohyeon.mapper.ReplyMapper">

    <insert id="insert">
        insert into table_reply (bno, reply, replyer) values (#{bno}, #{reply}, #{replyer})
    </insert>

    <select id="read" resultType="com.sohyeon.domain.ReplyVO">
        select * from table_reply where rno = #{rno}
    </select>

    <update id="update">
        update table_reply set reply = #{reply}, updatedate = now() where rno = #{rno}
    </update>

    <delete id="delete">
        delete from table_reply where rno = #{rno}
    </delete>

    <select id="getListWithPaging" resultType="com.sohyeon.domain.ReplyVO">
        select rno, bno, reply, replyer, replydate, updatedate from table_reply where bno = #{bno} order by rno asc
    </select>
</mapper>